@import 'foundation';
@import 'global_variables';

.logo {
	font-family: $main-font;
	color: $main-font-color;
	font-weight: 700;
	margin: 16px;
	font-size: $small-font;
	.title {
		color: #ffffff;
		font-size: 14px;
		font-weight: 300;
		margin-top: -5px;
	}
}

.menu {
	width: 100%;
	height: 80px;
	background-color: #2098d1;
	@media #{$small-only} {
		height: 130px;
	}
}

.nav-links-container div {
	display: inline-block;
	margin: 24px;
	float: right;
	@media #{$small-only} {
	margin: 14px;
	float: left;
	}
}

.info {
	font-family: $main-font;
	font-size: $small-font;
	
}

.nav-links {
	font-family: $main-font;
	color: $nav-font-color;
	font-weight: 300;
	letter-spacing: 0.2px;
	&:hover {
	font-weight: 700;
	color: $nav-font-color;
	}
}

.nav-links.active {
	font-weight: 700;
	color: $nav-font-color;
}

.home-container {
	padding: 40px;
	@media #{$small-only} {
	padding: 20px;
	}
}

.photo-image {
	background-image: url('/assets/images/jessica_sunflower.jpg');
	width: 200px;
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-top: 40px;
	@media #{$small-only} {
	width: 150px;
	height: 150px;
	text-align: center
	}
}

.bio-content {
	font-family: $main-font;
	color: $main-font-color;
	font-weight: 600;
	font-size: $medium-font;
  margin-top: 100px;
	text-align: center;
	margin-bottom: 30px;
	@media #{$small-only} {
		font-size: $small-font;
    margin-top: 28px;
	}
}

.home-holder.bio {
	margin-top: 30px;
}

.bio-content.holder {
	margin-top: 0px;
	font-size: $xsmall-font;
	@media #{$small-only} {
		text-align: center
	}
}

.sub-bio {
	display: inline-block;
	@media #{$small-only} {
		font-size: 14px;
    margin-top: 28px;
	}
}

.bio-content.holder.about {
	font-size: 14px;
	text-align: left;
  margin-top: 90px;
}

.icon-holder {
	display: inline-block;
	margin-top: 64px;
	margin-left: 50px;
  background-color: white;
  text-align: center;
}

.icon-holder.work {
	margin-left: 60px;
}

.skills-holder {
	padding: 40px;
	border-radius: 5px;
	background-color: #ebebeb;
	box-shadow: -1px 1px 2px 0 rgba(161, 161, 161, 0.5);
	margin-bottom: 20px;
}

.project-title {
	font-family: $main-font;
	font-weight: 600;
	margin-top: 20px;
}
.project-description {
	font-family: $main-font;
	font-weight: 300;
}
.project-tech {
	font-family: $main-font;
	font-weight: 400;
}

.about-me {
	margin-top: 60px;
	font-family: $main-font;
	font-weight: 400;
}
