{{outlet}}
<div class="home-holder bio">
		<div class="row">
			 <div class="small-12 medium-4 large-4 columns">
					<div>
						<div class="photo-image"></div>
						<div class="info">Chicago, Illinois</div>
						<a href="https://github.com/lomberas">github.com/lomberas</a>
						<div class="info">jessica@lomberas.com</div>
						<div class="info">650-713-9717</div>
					</div>
				
			</div>
			 <div class="small-12 medium-8 large-8 columns">
		<div class="about-me"> Hello, my name is Jessica. I am a front-end developer who is currently living in Chicago! I started my front-end development
					career in my hometown of San Francisco. I went to school for web design and new media at Academy of Art University but my curiosty of
					building web applications did not stop there. Although web design is still one of my many passions, I was able to use that when I took
					a 12 week web development immersive program at General Assembly. It was hard, but it was one of my most favorite experiences I have ever had and 
					I am so happy to say I am the happiest front-end developer in the world. Building 3 web applications there was a stepping stone into my career. 
					Besides coding, I love to dance, laugh, cook, hike(well maybe not here in Chicago) and take longs walks(that is much better)</div>
			 
			</div>
		</div>
	</div>

