{{outlet}}
<div class="home-container">
	<div class="home-holder">
		<div class="row">
		 <div class="small-12 medium-12 large-12 columns">
		 	<div class="bio-content">
		 		Responsive Front-end Development
		 	</div>
		 	<div class="bio-content holder">
		 		{{#each model as |home|}}
		 			<div class="sub-bio">{{home.title}}</div>
		 		{{/each}}
		 	</div>
		 </div>
		</div>


	</div>
	<div class="home-holder bio">
		<div class="row">
			 <div class="small-12 medium-6 large-6 columns">
				 <div class="bio-content holder about">
				 	I am front-end developer who has experience building web applications. The most recent work was being a part of team that used front end javasctipt's library react. In addition to bulding front-end features, I write unit tests and selenium tests to achieve better code. 
				 	Learn more about <span>{{#link-to 'about'}}me...{{/link-to}}</span>
				 </div>
			</div>
			 <div class="small-12 medium-6 large-6 columns">
			 <div>{{#link-to 'skills'}}Skills{{/link-to}}</div>
			 <div>{{#link-to 'skills'}}Work{{/link-to}}</div>
			</div>
		</div>
	</div>
</div>