{{outlet}}

	<div class="home-holder">
		 	<div class="bio-content">
		 		Skills!
		 	</div>
		 	<div class="bio-content holder">

		 	</div>

{{#each model as |skills|}}
    <div class="skills-holder">
    	<h3 class="project-title">{{skills.title}}</h3>
      <div class="project-tech">{{skills.type}}</div>
    </div>
{{/each}}

	</div>
